body {
  background-color: #f5f5f5; /* Fundal deschis pentru o experiență mai luminoasă */
  color: #333; /* Text întunecat pentru o citire ușoară */
  font-family: 'Roboto', sans-serif; /* Font prietenos */
  margin: 0;
  padding: 0;
}

a {
  color: #007bff; /* Albastru pentru linkuri pentru a se potrivi cu tema */
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

button {
  background-color: #007bff; /* Albastru pentru butoane */
  color: #fff; /* Text alb */
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3; /* O nuanță mai închisă de albastru pentru hover */
}

.container {
  padding: 20px;
}

input {
  color: #333;
}

.snackbar {
  position: fixed;
  bottom: 20px;
  right: 20px;
  min-width: 250px;
}
